@media screen and (max-width: 1499px) {
  .banRight h4 {
    font-size: 40px;
  }

  .banRight p {
    font-size: 10px;
  }
}

@media screen and (max-width: 1299px) {
  .banRight h3 {
    font-size: 18px;
  }

  .banRight h4 {
    font-size: 30px;
  }
}
